.translation-result-card {
  height: auto;
  /* border: 5px solid green; */
  border: 5px solid #1a535c;
  width: 20%;
  margin: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 4px;
  background-color: #f8f0e0;
  border-radius: 25px;
  box-shadow: 5px 10px 8px #888888;
}

.language-result-card {
  height: auto;
  /* border: 5px solid green; */
  border: 5px solid #1a535c;
  width: 20%;
  margin: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 4px;
  background-color: #f8f0e0;
  border-radius: 25px;
  box-shadow: 5px 10px 8px #888888;
}

.word-result-card {
  height: auto;
  border: 5px solid green;
  width: 20%;
  margin: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 4px;
  background-color: #f8f0e0;
  border-radius: 25px;
  box-shadow: 5px 10px 8px #888888;
}
