.translation-result-card {
  /* height: 200px;
    border: 10px solid blue;
    width: 20%;
    margin: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll; */
  height: auto;
  border: 5px solid green;
  width: 20%;
  margin: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 4px;
  background-color: #f8f0e0;
  border-radius: 25px;
}

.group-etymology-result-card {
  background-color: white;
  color: black;
  border: 10px solid blue;
  height: 200px;
  float: left;
  width: 25%;
  margin: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.etymology-result-card {
  background-color: white;
  color: black;
  border: 10px solid blue;
  height: 200px;
  width: 24%;
  margin: 5px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.language-result-card {
  /* background-color: white;
  color: black;
  border: 10px solid blue;
  height: 200px;
  width: 24%;
  margin: 5px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; */
  height: auto;
  border: 5px solid green;
  width: 20%;
  margin: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 4px;
  background-color: #f8f0e0;
  border-radius: 25px;
}

.word-result-card {
  /* height: 200px;
    border: 10px solid blue;
    width: 20%;
    margin: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll; */
  height: auto;
  border: 5px solid green;
  width: 20%;
  margin: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 4px;
  background-color: #f8f0e0;
  border-radius: 25px;
}
