#navbar {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  height: 3em;
  /* margin-bottom: 10px; */
  background-color: #1a535c;
}

#navbar a {
  color: #4ecdc4;
  text-decoration: none;
  padding: 1em;
  /* background-color: #1a535c; */
}

#navbar a.selected {
  /* border-bottom: 3px solid red; */
  color: #ff6b6b;
}

#navbar a:hover {
  background-color: white;
  color: #ff6b6b;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: inline;
  overflow: hidden;
  /* display: flex; */
}
/* 
.first-ul {
  float: left;
}

.second-ul {
  float: right;
} */

li {
  display: block;
  float: left;
  position: relative;
  height: 1em;
  /* justify-content: center; */
}

li.no-dropdown {
  /* background-color: lightgray; */
  background-color: #1a535c;
  height: 1em;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
}

li.dropdown {
  display: block;
  position: absolute;
  float: right;
  position: relative;
}

.dropdown-content {
  clear: both;
  width: 100%;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ff6b6b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bicon {
  vertical-align: middle;
  fill: #4ecdc4;
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  ul li.dropdown,
  ul li,
  ul.li.no-dropdown {
    float: none;
  }
}
